# Віртуальне середовище
venv/
env/

# Локальна база даних SQLite (не можна пушити в публічний доступ)
*.db
conference.db

# Кеш Python
__pycache__/
*.pyc

# Файли середовища та конфігурації VS Code
.env
.vscode/